.menu__lista-elem--home:hover
{
    background-color:var(--co-naranja);
}
.menu__lista-elem--shopping:hover
{
    background-color:var(--co-lila);
}
.menu__lista-elem--marca:hover
{
    background-color:var(--co-celeste);
}


.menu__lista-elem--comida:hover
{
    background-color:var(--co-verde-oscuro);
}
.menu__lista-elem--promo:hover
{
    background-color:var(--co-mostaza);
}
.menu__lista-elem--comunidad:hover
{
    background-color:var(--co-azul);
}
.menu__lista-elem--msj:hover
{
    background-color:var(--co-verde-claro);
}



.pie-pag__titulo2--grande
{
    font-size: 1.2rem;
}

.pie-pag__cont3--reverso
{
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 5.4em;
}


.carrusel__btn--sig
{
    right: .8em;
}
.carrusel__btn--ant
{
    left: .8em;
}

.etiqueta--promo
{
    background-color: rgba(237, 167, 22, .75);
}
.etiqueta--gastro
{
    background-color: rgba(0, 112, 50,0.75);
}
.etiqueta--com
{
    background-color: rgba(155, 0, 98, 0.75);
}

/* Media querys */
/* para pantallas de hasta un maximo de 1035px, es decir, todas aquellas pantallas menores de 1035px */
@media (max-width:1035px){
    .cont-aparte{
        /* ocultar la sección secundaria */
        display: none;
    }
    /* .plantilla-grid .contenedor tocar estas dos clases */
    .plantilla-grid{
        grid-template-areas:'encabezado encabezado'
                            'cont-ppal cont-ppal'
                            'pie-pag pie-pag';
    }
    .cont-ppal{
        grid-area: cont-ppal;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 1rem;
        grid-gap: .2rem;
    }
    .cont-ppal__promo-img{
        mask-image: linear-gradient(#fff 80%, transparent);
    }
    .etiqueta__img{
        display: none;
    }
    .etiqueta__texto{
        font-size: .85rem;
    }


    .pie-pag{
        flex-wrap: wrap;
    }
    .pie-pag__cont{
        border-right: none;
        padding: 0;
        flex-basis: 90%;

        justify-content: center;
    }
    .pie-pag__cont2{
        flex-basis: 90%;
        padding: 0;
    }
    .encb{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem .5rem;
    }
    .pie-pag__cont3--reverso{
        justify-content: center;
    }
    .pie-pag__cont3 .pie-pag__texto{
        text-align: left;
    }
    .btn-nav{
        display: block;
    }
}