:root
{
    --co-gris:#868789;
    --co-negro:#181818;
    
    
    --co-naranja:#FD4F00;
    --co-lila:#6E2252;
    --co-celeste:#0093C2;
    --co-verde-oscuro:#007032;
    --co-mostaza:#EDA716;
    --co-azul:#313F84;
    --co-verde-claro:#1B7543;

    --co-naranja-claro:#F78F20;
}
